@font-face {
    font-family: 'LCARS';
    src: url('../media/tt0105m_.TTF');
}

body {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  font-family: 'LCARS';
}

/*    ----- HEADER -----    */

header {
  width: 100%;
}

.header-console {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

#console-header-side {
  background-image: url('../media/console-header-side.png');
  width: 10%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
}

.console-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85%;
}

#header-console-numbers {
  width: 45%;
  height: 145px;
}

#header-console-numbers li {
  text-decoration: none;
  font-size: 16pt;
  text-align: left;
  display: inline;
  color: #FF9900;
}

#header-console-title {
  font-size: 76pt;
  color: #FF9900;
  width: 40%;
  margin-left: 5%;
  height: 145px;
}

#header-console-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

#header-console-bottom-1 {
  width: 45%;
  height: 15px;
  margin-right: 5px;
  background-color: #9999FF;
}

#header-console-bottom-2 {
  width: 5%;
  height: 15px;
  margin-right: 5px;
  background-color: #FF9966;
}

#header-console-bottom-3 {
  width: 15%;
  height: 15px;
  margin-right: 5px;
  background-color: #CC6666;
}

#header-console-bottom-4 {
  width: 20%;
  height: 15px;
  margin-right: 5px;
  background-color: #CC99CC;
}

#header-console-bottom-5 {
  width: 20%;
  height: 15px;
  margin-right: 5px;
  background-color: #FF9900;
}


/*    ----- NAVBAR -----    */

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 10%;
}

#console-nav-login {
  width: 100%;
  background-color: #CC6699;
  margin-bottom: 5px;
  height: 200px;
  border-top-left-radius: 50px;
  text-align: center;
  font-size: 30pt;
  padding-top: 60px;
}

#member-area {
  width: 100%;
  background-color: #FFCC99;
  height: 400px;
  font-size: 20pt;
  text-align: center;
}

/*    ----- CHAT ROOM -----   */

.chat-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#board {
  width: 75%;
  background-image: url('../media/federation2.gif');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
}

#messagePost {
  background-color: white;
  height: 25px;
  border-radius: 15px;
  color: black;
  font-family: sans-serif;
  font-size: 14pt;
  padding: 10px;
  margin-top: 10px;
  display: table;
}

#message-box {
  width: 75%;
  height: 150px;
}

textarea {
  width: 75%;
  margin: 2%;
  font-size: 16pt;
}

button {
  vertical-align: top;
  width: 10%;
  height: 40px;
  margin: 2%;
}
