@font-face {
    font-family: 'LCARS';
    src: url('../media/tt0105m_.TTF');
}

body {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  position: relative;
  font-family: 'LCARS';
  overflow: hidden;
}

/*    ----- HEADER -----    */

header {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.header-console {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

#console-header-side {
  background-image: url('../media/console-header-side.png');
  width: 10%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
}

.console-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  width: 85%;
}

#lcars-buttons {
  width: 15%;
  margin-top: 55px;
  margin-left: 10%;
}

#header-console-numbers li {
  text-decoration: none;
  font-size: 16pt;
  text-align: left;
  display: inline;
  color: #FF9900;
}

#header-console-title {
  font-size: 76pt;
  color: #FF9900;
  width: 40%;
  margin-left: 20px;
  height: 145px;
  text-align: right;
}

#header-console-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

#header-console-bottom-1 {
  width: 45%;
  height: 15px;
  margin-right: 5px;
  background-color: #9999FF;
}

#header-console-bottom-2 {
  width: 5%;
  height: 15px;
  margin-right: 5px;
  background-color: #FF9966;
}

#header-console-bottom-3 {
  width: 15%;
  height: 15px;
  margin-right: 5px;
  background-color: #CC6666;
}

#header-console-bottom-4 {
  width: 20%;
  height: 15px;
  margin-right: 5px;
  background-color: #CC99CC;
}

#header-console-bottom-5 {
  width: 20%;
  height: 15px;
  margin-right: 5px;
  background-color: #FF9900;
}


/*    ----- NAVBAR -----    */

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 10%;
}

#console-nav-login {
  width: 100%;
  background-color: #CC6699;
  margin-bottom: 5px;
  height: 200px;
  border-top-left-radius: 50px;
  text-align: center;
  font-size: 30pt;
  padding-top: 60px;
}

#member-area {
  width: 100%;
  background-color: #FFCC99;
  height: 350px;
  font-size: 20pt;
  text-align: center;
}

/*    ----- CHAT ROOM -----   */

.chat-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#board {
  width: 75%;
  background-image: url('../media/background.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#messagePost {
  background-color: #EFEFEF;
  border-radius: 10px;
  color: black;
  font-family: sans-serif;
  font-size: 14pt;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  word-break: break-word;
  flex: 1 0 auto;
}

#messagePost a {
  text-decoration: none;
  color: darkblue;
  font-weight: bold;
  margin: 0 10px;
  min-width: 15%;
}

#messagePost img {
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888888;
  margin-right: 20px;
}

#messagePost #posted {
  margin-left: 10px;
}

#message-box {
  width: 75%;
  height: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

#message-box #message {
  width: 75%;
  margin: 2%;
  font-size: 16pt;
  font-family: sans-serif;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  background-color: white;
  height: 75px;
}

.emoticons {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.emoticons .fa {
  margin: 25px;
  width: 20px;
}



.emote-menu {
  position: absolute;
  bottom: 150px;
  left: 70%;
  height: 0;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.emote-menu img {
  border: 3px solid black;
  border-radius: 10px;
}

.emote-menu img:hover {
  border: 3px solid #FF9900;
}

/*    ----- LOGIN -----   */

.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;
  align-items: center;
  position: absolute;
  padding-top: 5%;
  top: 220px;
  left: 10%;
  z-index: 1;
  width: 80%;
  background: black;
  font-size: 42pt;
  color: #FF9900;
  height: 600px;
}

.login input {
  background-color: black;
  outline: none;
  border: none;
  margin-left: 15px;
  text-align: center;
}

.login img {
  margin: 0 15px;
}


#login-success {
  display: none;
  width: 100%;
  font-size: 36pt;
  color: #FF9900;
  height: 800px;
  margin: 0 auto;
  top: 50px;
  position: absolute;
  text-align: center;
  letter-spacing: 2px;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
}

#login-success.animate {
  -webkit-transform:translate(0px, -50px);
}

#login-success img {
  border-radius: 10px;
}

#id-fail {
  display: none;
  width: 250px;
  height: 50px;
  color: #FF9900;
  font-size: 22pt;
  text-align: center;
}
